html, body{
    margin: 0;
    background-image: url('./assets/PlinkoBackgroundImage.jpg');
        background-size: cover;
        display: grid;
        grid-template-rows: 1fr 90%;
        grid-template-columns: 100%;
        justify-items: center;
}

#score-board{
    font-size: x-large;
        color: azure;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
    align-items: center;
        justify-items: center;
}